<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About</title>
</head>
<body>
  <!-- here title of the page is imported from the partials -->
  {{> header}}
  <p>Random text here...</p>

  {{> footer}}
  <!-- this is the syntax for adding paritals -->
</body>
</html>
